  .rss-plan-list {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -4px;
    position: relative;
    justify-content: space-between;
  }
  .rss-plan-item:visited {
    color: #fff;
  }
  .rss-plan-item.rss-plan-wechat {
    background: #27c125;
  }
  .rss-plan-item.rss-plan-mail {
    background: #425aef;
  }
  .rss-plan-item.rss-plan-rss {
    background: #e38100;
  }
  .rss-plan-item {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 240px;
    height: 240px;
    margin: 6px 0;
    overflow: hidden;
    text-decoration: none;
    width: calc(100% / 3 - 8px);
    filter: brightness(1);
    transition: .3s;
  }
  .rss-plan-item:hover {
    filter: brightness(1.1)
  }
  @media screen and (max-width: 1024px) {
    .rss-plan-item {
        width:calc(100% / 2 - 4px)
    }
    .rss-plan-item:first-child {
        width: 100%
    }
  }
  @media screen and (max-width: 768px) {
    .rss-plan-item {
        width:100%
    }
  }
  /* 卡片大小 */
  
  .rss-plan-description {
    font-size: 16px;
    color: #fff;
    margin: 26px 0 0 30px;
    line-height: 20px;
  }
  .rss-plan-info-group {
    position: relative;
    margin: 0 0 26px 30px;
    color: #fff;
  }
  .rss-plan-title {
    font-size: 36px;
    font-weight: 700;
    width: fit-content;
    line-height: 1;
  }
  .rss-plan-info {
    width: fit-content;
    opacity: .6;
  }
  img.rss-plan-icon {
    position: absolute;
    bottom: -50px;
    right: -20px;
    height: 140px;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-transition: all 1.2s cubic-bezier(.39,.575,.565,1) !important;
    -moz-transition: all 1.2s cubic-bezier(.39,.575,.565,1) !important;
    -o-transition: all 1.2s cubic-bezier(.39,.575,.565,1) !important;
    -ms-transition: all 1.2s cubic-bezier(.39,.575,.565,1) !important;
    transition: all 1.2s cubic-bezier(.39,.575,.565,1) !important;
    transform-origin: bottom right;
    filter: blur(8px);
    opacity: .6;
  }
  .rss-plan-item:hover img.rss-plan-icon {
    bottom: -40px;
    right: -10px;
    filter: blur(0);
    opacity: 1
  }
  .rss-plan-item:hover {
    text-decoration: none !important;
  }
  /* 卡片订阅样式 */
  /* 订阅样式 */
